* {margin: 0;padding: 0;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}body {width: 100vw;height: 100vh;
}img { width: 75%;
}h2 {margin: 2.5%;color: darkgreen;text-shadow: 1px 1px 1px;
}form {width: 70%;background-color: #f7f7f7;border-radius: 10px;text-align: center;box-shadow: 2px 0px 6px 4px lightblue;}* .container {display: grid;place-items: center;}input {padding: 1.5%;outline: none;border: 0;width: 100%;background: transparent;}.icon-wrapper {display: flex;overflow: hidden;border: 2px solid #fff;width: 80%;margin: 2% 10%;background: #fff;border-radius: 5px;box-shadow: 0px 0px 3px .2px lightblue;}i {padding: 2%;color: teal;
}button {width: 80%;padding: 1.5%;background: forestgreen;border: 2px solid forestgreen;border-radius: 5px;margin-bottom: 2%;font-weight: bold;text-transform: uppercase;color: #fff;
}.fa-eye, .fa-eye-slash {padding-right: 3.2%;
}h3 {text-align: center;margin: 5%;
}.para { margin-bottom: 2%; text-decoration: underline; color: #222;cursor: pointer;
}@media screen and (min-width: 550px) {body {display: grid;place-items: center;width: 100vw; } .container {display: flex;}img { width: 45%;
    }form { width: 53%;}footer 
    {width: 100%;color: #222;}h3 {margin-top: 0;}
}

